.buttonWrap {
	position:absolute;
	right:0;
	top:4000px;
	margin:3em;
	max-height:75px;
	max-width:75px;
	z-index:100;
}

.backToTopArrow {
	width:75px;
	height:75px;
}

.buttonEllipse {
	fill: var(--purple);
}

.arrowTip {
	fill:white;
}

.arrowBody {
	fill:white;
}