.contactForm {
	display:flex;
	flex-direction:column;
	margin-top:3em;
	width:40%;
	max-width:775px;
	
	button {
		align-self:center;
	}

	@media screen and (max-width:1500px) {
		width:70%;
	}

	@media screen and (max-width:925px) {
		width:90%;
	}

}