.overlayContainer {
	position:absolute;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	top:100%;
	left:0;
	width:100%;
	height:100%;
	padding:2em;
	background:var(--purpleBoxShadow);
	overflow:hidden;
}

.link {
	padding:1em;
	border:1px solid white;
	font-family:upgrade-lights;
	font-size:0.8rem;
	font-weight:300;
	color:white;
	text-decoration:none;
	text-transform:uppercase;
	transition:all 150ms ease;
	user-select:none;
	z-index:10;

	&:hover {
		background:white;
		color:var(--richBlack);
	}

}

.mobileWorkCardContainer {
	display:flex;
	flex-direction:column;

	img {
		max-width:100%;
	}

	&:nth-of-type(2) {
		margin:4em 0;
	}

}

.mobileWorkCardContainerDetails {

	display:flex;
	flex-direction:column;
	align-items:center;

	p, h2 {
		color:white;
		text-align:center;
	}

	p, span {
		font-weight:var(--main300);
	}

	h2 {
		font-size:2.3rem;
		margin-top:1em;
	}

	p {
		margin-top:1em;
	}

}

.mobileCategory {
	color:var(--turquoise);
}
.mobileBuiltWith {
	color:white;
}

.workCardButton {
	padding:1.2em 4em;
	margin-top:3em;
	background:var(--purple);
	border:none;
	outline:none;
	color:white;
	cursor:pointer;
	transition:all 150ms ease-in-out;

	&:hover, &:active, &:focus {
		background:var(--lightPurple);
	}

}

.detailsSubgroup {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.category {

	position:relative;
	font-family:upgrade-lights;
	color:white;
	font-weight:200;
	z-index:10;
	user-select:none;

	&:after {
		content: '';
		position:absolute;
		bottom:-10px;
		left:0;
		width:var(--workCategoryUnderlineWidth);
		height:var(--workCategoryUnderlineHeight);
		background:white;
		border-radius:60px;
	}

}

.detailsContainer {

	z-index:10;
	user-select:none;

	h3 {
		color:white;
		font-weight:300;
		font-size:2rem;
	}

	p {
		color:white;
		font-family:upgrade-lights;
		font-weight:300;
	}

}

.cardAnimateIn {
	animation: animate-in 350ms cubic-bezier(0.64, 0, 0.78, 0) forwards;
}

@keyframes animate-in {

	from {
		top:100%;
	}

	to { 
		top:0;
	}

}