.mobileProjectCard {
	position:relative;
	display:flex;
	flex-direction:column;
	min-width:350px;
	max-width:350px;
	background:white;
	border:1px solid var(--purple);
	box-shadow:5px 5px 8px 2px rgba(0, 0, 0, 0.2);

	button {
		width:70%;
		margin-top:0;
		margin:1em 0 2em 0;
	}

}

.projectDetails {
	padding:1em;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
	height:100%;
}

.projectDetailsText {

	text-align:center;
	min-height:175px;

	h3 {
		font-size:1.4rem;
		letter-spacing:-0.5px;
	}

	p {
		margin-top:2em;
	}

	span {
		width:100%;
		display:block;
	}

}