// Utilities
.btn {

	padding:1em 4em;
	margin-top:3em;
	border:1px solid white;
	color:white;
	text-decoration:none;
	font-family:var(--roboto);
	transition:all 150ms ease;

	&:hover {
		background:white;
		color: var(--black);
	}

	@media screen and (max-width:800px) and (max-height:410px) {
		padding:0.75em 2em;
		font-size:0.9rem;
	}

}

.wrapper {
	display:grid;
	place-items:center;
	min-width:100%;
	min-height:100%;
	z-index:0;
}

.heroTitleWrap {

	display:flex;
	flex-direction:column;
	max-width:100%;
	align-items:center;
	justify-content:center;
	will-change: transform;
	overflow-x:hidden;

	h1, h2 {
		text-align:center;
		font-family:var(--roboto);
		color:white;
	}

	h1 {
		font-size:clamp(4rem, 8vw, 6rem );
		letter-spacing:5px;
		text-transform:uppercase;
	}

	h2 {
		text-transform:lowercase;
		font-size:2.2rem;
		font-weight:200;
	}

}

.titleAccentWrap {
	padding:1em;
	max-width:100%;
}

.scrollArrowWrap {
	position:absolute;
	display:flex;
	align-items:center;
	bottom:60px;
	left:50%;
	z-index:10000;

	img {
		cursor:pointer;
		animation-name: position-pulse;
		animation-duration:1s;
		animation-timing-function: ease-in-out;
		animation-iteration-count:infinite;
		animation-direction:alternate;
	}

	@media screen and (max-width:800px) and (max-height:410px) {
		display:none;
	}

}

@keyframes position-pulse {

	from {
		transform:translateY(0);
	}

	to {
		transform:translateY(-10px);
	}

}