.aboutContainer {
	display:flex;
	justify-content:center;
	padding:10em 2em;
	width:100%;
	transition:all 1000ms ease;

	@media screen and (max-width:1160px) {
		padding:7em 2em;
	}

}

.aboutContentContainer {
	display:flex;
	align-items:center;
	justify-content:center;
	width:100%;
	transition:all 1000ms ease;

	@media screen and (max-width:1160px) {
		flex-direction:column;
	}

}

.picContainer {

	display:flex;
	border-radius:50%;
	border:5px solid var(--purple);
	overflow:hidden;
	max-width:300px;
	max-height:300px;
	transition:all 1000ms ease;

	img {
		width:100%;
		height:auto;
		object-fit:cover;
		object-position:top;
	}

	@media screen and (max-width:400px) {
		width:225px;
		height:225px;
	}

}

.aboutCopyContainer {

	margin-left:2em;
	max-width:700px;
	transition:all 1000ms ease;
	color:white;

	h2 {
		font-weight:300;
		font-size:2.5rem;
		margin-bottom:0.5em;
	}

	p {
		font-family:upgrade-lights;
		font-weight:200;
		font-size:1.2rem;
	}

	@media screen and (max-width:1160px) {

		margin-left:0;
		margin:1em 0;

		h2 {
			margin-top:1.5em;
		}

		h2, p {
			text-align:center;
		}
	}

}