.contactSectionWrap {
	padding:10em 1em;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	min-height:90vh;
}

.header {

	max-width:775px;

	h2 {

		position:relative;
		color:var(--sectionHeaderColor);
		font-size:var(--sectionHeaderSize);
		font-weight:var(--sectionHeaderWeight);
		text-align:center;

		&:after {
			content:'';
			position:absolute;
			bottom:0;
			left:50%;
			height:var(--underlineHeight);
			width:var(--underlineWidth);
			background:var(--purple);
			border-radius:60px;
			transform-origin:center;
			transform:translateX(-50%) translateY(10px);
		}

	}

	p {
		text-align:center;
		margin:2em auto 0;
		font-size:1.4rem;
		font-family:upgrade-lights;
		color:white;
		max-width:70%;
	}

}