// Utilities
.btn {
	padding:1em 4em;
	margin-top:3em;
	border:1px solid white;
	color:white;
	text-decoration:none;
	font-family:upgrade-lights;
	transition:all 150ms ease;

	&:hover {
		background:white;
		color: var(--black);
	}

}

.wrapper {
	position:relative;
	width:100%;
	height:100%;
	z-index:100;
	overflow:hidden;
}

.videoWrap {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	object-fit: cover;
	z-index:-1;
}

.heroTitleWrap {

	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	min-height:100%;
	will-change: transform;

	h1 {
		color:white;
		text-transform:uppercase;
		font-size:5.5rem;
	}

	h2 {
		font-family:upgrade-lights;
		color:white;
		text-transform:lowercase;
		font-size:1.7rem;
		font-weight:200;
	}

}

.scrollArrowWrap {
	position:absolute;
	display:flex;
	align-items:center;
	bottom:0;
	left:50%;
	transform: translateX(-50%);
	z-index:10;

	img {
		cursor:pointer;
		animation:position-pulse 1s ease-in-out infinite alternate;
	}

}

@keyframes position-pulse {

	from {
		transform:translateY(0);
	}

	to {
		transform:translateY(-10px);
	}

}

















































