.workContainer {
	position:relative;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	margin-top:10em;
	min-height:900px;
	padding:1em;

	@media screen and ( max-width: 830px ) {
		margin-top:5em;
	}
}

.header {
	position:relative;
	margin-top:2em;
	text-align:center;
	font-size:var(--sectionHeaderSize);
	font-weight:var(--sectionHeaderWeight);
	color:white;

	&:after {
		content:'';
		position:absolute;
		bottom:0;
		left:50%;
		height:var(--underlineHeight);
		width:var(--underlineWidth);
		background:var(--purple);
		border-radius:60px;
		transform-origin:center;
		transform:translateX(-50%) translateY(10px);
	}

}

.workCardsContainer {
	display:flex;
	flex-wrap:wrap;
	min-width:100%;
	justify-content:center;
	margin-top:2em;
	padding:4em 0;

	@media screen and (max-width: 1024px) {
		flex-direction:column;
		margin-top:3em;
	}

}