:root {
	--turquoise:hsl(187, 94%, 59%);
	--purple: hsl(257, 74%, 55%);
	--darkPurple: hsl(257, 59%, 40%);
	--lightPurple: hsl(257, 74%, 60%);
	--richPurple: hsl(260, 92%, 6%);
	--purpleTransparent: hsla(257, 74%, 55%, 0.8);
	--richBlack: hsl(240, 93%, 5%);
	--lightGray: hsl(0, 0%, 95%);
	--midGray: hsl(217, 0%, 54%);
	--purpleBoxShadow: hsl(257, 59%, 40%);
	--purpleBoxShadowTransparent: hsla(257, 59%, 40%, 0.9);
	--disabledGray: hsl(0, 0%, 74%);
	--sideMenuColor: hsla(257, 59%, 40%, 0.9);
	--error: hsl(360, 100%, 62%);
	--success: hsl(126, 100%, 65%);

	/* Fonts */
	--mainFont: 'Roboto Condensed', sans-serif;
	--main500: 500;
	--main300: 300;
	--lightFont: 'upgrade-lights';
	--light500: 500;

	--roboto: 'Roboto Condensed', sans-serif;
	--roboto700: 700;
	--roboto300: 300;

	--cabin: 'Cabin', sans-serif;

	/* Header */
	--sectionHeaderColor:white;
	--sectionHeaderSize:2rem;
	--sectionHeaderWeight:300;
	--underlineHeight:6px;
	--underlineWidth:80px;

	/* Work card */
	--workCategoryUnderlineHeight:4px;
	--workCategoryUnderlineWidth:50px;

}

/*** GOOGLE | Roboto Condensed & Cabin ***/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html {
	scroll-behavior:smooth;
	font-size:16px;
	min-height:100vh;
}

body {
	position:relative;
	font-family:var(--mainFont), sans-serif;
	font-display:swap;
	font-style:normal;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
	height:100vh;
}

.simplebar-scrollbar:before {
	background:var(--purple) !important;
	opacity:1 !important;
}