:root {
	--turquoise:hsl(187, 94%, 59%);
	--purple: hsl(257, 74%, 55%);
	--lightPurple: hsl(257, 74%, 60%);
	--purpleTransparent: hsla(257, 74%, 55%, 0.8);
	--richBlack: hsl(240, 93%, 5%);
	--lightGray: hsl(0, 0%, 95%);
	--midGray: hsl(217, 0%, 54%);
	--purpleBoxShadow: hsl(257, 59%, 40%);
	--purpleBoxShadowTransparent: hsla(257, 59%, 40%, 0.9);
	--disabledGray: hsl(0, 0%, 74%);
	--sideMenuColor: hsla(257, 59%, 40%, 0.9);
	--error: hsl(360, 100%, 62%);
	--success: hsl(126, 100%, 65%);

	/* Fonts */
	--mainFont: 'upgrade';
	--main500: 500;
	--main300: 300;
	--lightFont: 'upgrade-lights';
	--light500: 500;

	--roboto: 'Roboto Condensed', sans-serif;
	--roboto700: 700;
	--roboto300: 300;

	/* Header */
	--sectionHeaderColor:white;
	--sectionHeaderSize:2rem;
	--sectionHeaderWeight:300;
	--underlineHeight:6px;
	--underlineWidth:80px;

	/* Work card */
	--workCategoryUnderlineHeight:4px;
	--workCategoryUnderlineWidth:50px;

}

/***************************************

Adobe fonts

NOTE:
originally, I was fetching this by adding the Adobe-provided embed
code on the custom _document page. However, Adobe sets the font-display
to 'auto', which was causing moderate layout shift. By importing here,
I was able to update the font-display to 'swap', ensuring a placeholder
font would be used until the main font is loaded.

****************************************/

/*** ADOBE | Upgrades ***/
@import url("https://p.typekit.net/p.css?s=1&k=mdg4ivp&ht=tk&f=38093.38095.38103&a=8089373&app=typekit&e=css");

@font-face {
font-family:"upgrade";
src:url("https://use.typekit.net/af/13db32/00000000000000007735c00b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/13db32/00000000000000007735c00b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/13db32/00000000000000007735c00b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:500;
}

@font-face {
font-family:"upgrade";
src:url("https://use.typekit.net/af/436d7f/00000000000000007735c011/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/436d7f/00000000000000007735c011/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/436d7f/00000000000000007735c011/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:300;
}

@font-face {
font-family:"upgrade-lights";
src:url("https://use.typekit.net/af/d2acc5/00000000000000007735c005/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/d2acc5/00000000000000007735c005/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/d2acc5/00000000000000007735c005/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:500;
}

/*** GOOGLE | Roboto Condensed ***/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html {
	scroll-behavior:smooth;
}

html,
body {
	position:relative;
	min-height:100vh;
	padding: 0;
	margin: 0;
	font-family:var(--mainFont), sans-serif;
	font-display:swap;
	font-style:normal;
	font-size:16px;
	min-height:100%;
	/*
	background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='50' height='50' patternTransform='scale(3) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,0)'/><path d='M3.25 10h13.5M10 3.25v13.5' transform='translate(5,0)' stroke-linecap='square' stroke-width='1' stroke='hsla(258.5,59.4%,59.4%,0.09)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,30)' fill='url(%23a)'/></svg>");
	background-color:white;
	background-position:fixed;
	*/
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
	height:100%;
}

.simplebar-scrollbar:before {
	background:var(--purple) !important;
	opacity:1 !important;
}