.overlayContainer {
	position:absolute;
	display:flex;
	visibility:hidden;
	flex-direction:column;
	justify-content:space-between;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding:2em;
	background:var(--purpleBoxShadowTransparent);
	overflow:hidden;
}

.link {
	padding:1em;
	border:1px solid white;
	font-family:upgrade-lights;
	font-size:0.8rem;
	font-weight:300;
	color:white;
	text-decoration:none;
	text-transform:uppercase;
	text-align:right;
	transition:all 150ms ease;
	user-select:none;
	z-index:10;

	&:hover {
		background:white;
		color:var(--richBlack);
	}

}

.category {

	position:relative;
	font-family:upgrade-lights;
	color:white;
	font-weight:200;
	z-index:10;
	user-select:none;

	&:after {
		content: '';
		position:absolute;
		bottom:-10px;
		left:0;
		width:var(--workCategoryUnderlineWidth);
		height:var(--workCategoryUnderlineHeight);
		background:white;
		border-radius:60px;
	}

}

.detailsContainer {

	z-index:10;
	user-select:none;

	h3 {
		color:white;
		font-weight:300;
		font-size:2rem;
	}

	p {
		color:white;
		font-family:upgrade-lights;
		font-weight:300;
	}

}

.cardAnimateIn {
	visibility:visible;
	animation: animate-in 300ms ease-in-out forwards;
}

.cardAnimateOut {
	visibility:visible;
	animation: animate-out 300ms ease-in-out forwards;
}

@keyframes animate-in {

	from {
		top:100%;
	}

	to { 
		top:0;
	}

}

@keyframes animate-out {
	from {
		top:0;
	}
	to {
		top:100%;
	}
}