.buttonWithArrow {

	margin-top:2em;
	display:flex;
	min-width:100%;
	align-items:center;
	justify-content:flex-end;
	background:var(--darkPurple);
	padding:1.25em;
	cursor:pointer;
	transition:all 150ms ease;
	text-decoration:none;

	span {
		display:block;
		margin-right:1em;
		color:white;
		transition:all 150ms ease;
	}

	&:hover {

		background:var(--lightPurple);

		span{
			transform:translateX(-5px);
		}

		.arrow {
			transform:translateX(5px);
			animation-iteration-count:0;
		}

	}

	@media screen and (min-width:450px) {
		align-self:flex-start;
		min-width:250px;
	}

	@media screen and (min-width:1440px) {
		align-self:center;
		justify-content:center;
	}

}

.arrow {
	width:30px;
	height:auto;
	animation:nudge-right 1s alternate;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
	transition:all 150ms ease;

	.arrowLine {
		stroke:white;
		stroke-miterlimit:10;
		stroke-width:2px;
	}

	.arrowHead {
		fill:white;
	}

}

@media screen and (min-width:450px) {

	.buttonWithArrow {
		align-self:flex-start;
		min-width:250px;
	}

}

@media screen and (min-width:1440px) {

	.buttonWithArrow {
		align-self:center;
		justify-content:center;
	}

}

@keyframes nudge-right {
	from {
		transform:translateX(0);
	}

	to {
		transform:translateX(5px);
	}
}