.btn {

	padding:1.2em 4em;
	background:white;
	border:2px solid var(--purple);
	box-shadow:8px 8px 0 0 var(--purpleBoxShadow);
	text-decoration:none;
	color:var(--richBlack);
	font-family:var(--lightFont);
	font-weight:var(--lightFont500);
	transition:box-shadow 200ms ease, transform 200ms ease;
	transform-origin:center;

	&:hover, &:focus, &:active {
		box-shadow:16px 16px 0 0 var(--purpleBoxShadow);
		transform:translate(-6px, -6px);
	}

}