.btn {

	padding:1.3em 0.5em;
	width:100%;
	max-width:225px;
	align-self:center;
	background:white;
	color:var(--richBlack);
	font-family:var(--roboto);
	text-decoration:none;
	text-align:center;
	transition:box-shadow 200ms ease, transform 200ms ease;
	border:2px solid var(--purple);
	box-shadow:8px 8px 0 0 var(--purpleBoxShadow);
	transform-origin:center;

	&:hover, &:focus, &:active {
		box-shadow:16px 16px 0 0 var(--purpleBoxShadow);
		transform:translate(-6px, -6px);
	}

}