.btn {
	padding:1.25em 4em;
	margin-top:3em;
	border:1px solid var(--purple);
	outline:none;
	color:var(--richBlack);
	font-family:var(--lightFont);
	font-weight:var(--light500);
	text-decoration:none;
	transition:all 150ms ease;
	background:white;
	cursor:pointer;

	&:hover, &:focus {
		background:var(--purple);
		color:white;
	}
}

.btn[disabled] {

	background:var(--disabledGray);
	color:var(--richBlack);
	cursor:default;

	&:hover {
		background:var(--disabledGray);
		color:var(--richBlack);
	}

}