.buttonWrap {
	position:fixed;
	right:20px;
	bottom:30px;
	border-radius:50%;
	max-height:75px;
	max-width:75px;
	cursor:pointer;
	overflow:hidden;
	transform:scale(0);
	z-index:100;
	transform-origin:center;
}

.backToTopArrow {
	width:50px;
	height:50px;
}

.buttonEllipse {
	fill: var(--purple);
}

.arrowTip {
	fill:white;
	transition:all 200ms ease;
}

.arrowBody {
	fill:white;
	transition:all 200ms ease;
	transform-origin: top;
}


@media screen and (min-width:768px) {

	.buttonWrap {
		max-height:60px;
		max-width:60px;
	}

	.backToTopArrow {
		width:60px;
		height:60px;
	}

}



.animateIn {
	animation-name: pop-in;
	animation-duration: 0.3s;
	animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
	animation-fill-mode: forwards;
}

.animateOut {
	animation-name: pop-out;
	animation-duration: 0.3s;
	animation-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045);
	animation-fill-mode: forwards;
}

@keyframes pop-in {

	from {
		transform:scale(0);
	}

	to {
		transform:scale(1);
	}

}

@keyframes pop-out {

	from {
		transform:scale(1);
	}

	to {
		transform:scale(0);
	}

}


@keyframes pulse {

	from {
		transform:scale(1);
	}

	to {
		transform:scale(1.6);
	}

}