.testimonialContainer {
	max-width:450px;
	min-height:200px;
}

.testimonialText {
	text-align:center;
	font-family:var(--roboto);
	font-weight:200;
	letter-spacing:1px;
	font-size:1rem;
}

.testimonialClient {
	position:relative;
	text-align:center;
	margin-top:2em;
	padding:1em;

	p {
		font-weight:var(--roboto700);
	}

	&:before {
		content:'';
		position:absolute;
		top:0;
		left:0;
		height:4px;
		width:100%;
		border-radius:100px;
		background:var(--purple);
	}
}