.clientNavContainer {
	display:flex;
	flex-direction:column;
	border:3px solid var(--purple);
	min-height:60%;
}

.header {
	padding:0.5em 0.7em;
	font-size:2.7rem;
	font-weight:var(--main500);
	color:var(--purple);
	background:white;
}

.clientListContainer {

	position:relative;
	flex:1 1 auto;
	width:100%;
	padding:2em;
	background:var(--purple);

}

.clientList {

	list-style-type:none;

	li {
		margin:2em 0;
		max-width:70%;
		color:white;
		font-family:var(--lightFont);
		font-weight:var(--light500);
		cursor:pointer;
		transition:all 150ms ease;

		&:hover {
			transform:translateX(10px);
		}

	}

}