.projectSectionContainer {
	display:flex;
	flex-direction:column;
	padding:3em 1em;
	overflow-x:auto;

	@media screen and (max-width:1055px) {
		padding:3em 0;
	}
}

.projectsContainer {
	display:flex;
	gap:2em;
	padding:4em 0 2.5em 0;
	list-style-type:none;
	min-width:100%;
}

.singleProjectsContainer {
	display:flex;
	padding:4em 0 2.5em 0;
	list-style-type:none;
	min-width:100%;
	overflow:hidden;
}

.centered {
	justify-content:center;
}

.spacer {
	min-width:20px;
}

.clientName {
	position:relative;
	font-size:2rem;
	text-align:center;
	padding:0 0.5em;

	&:after {
		content: '';
		position:absolute;
		top:120%;
		left:50%;
		height:var(--underlineHeight);
		width:var(--underlineWidth);
		border-radius:60px;
		background:var(--purple);
		transform:translateX(-50%);
	}

}